.homePage {
  width: 100%;
  height: calc(100vh - 80vh);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.homePage .postContents {
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: white;
  box-shadow: 5px 9px 16px -5px rgba(0, 0, 0, 0.75);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.postHeader h1 {
  text-align: center;
  margin-top: 5px;
}

.postContents .postTextContainer {
  height: auto;
  word-wrap: break-word;
  max-height: 100%;
  width: 100%;
}

.nameAndDeleteButton{
    display: flex;
    align-items:center ;
}

.nameAndDeleteButton button {
  flex: 10%;
  background-color:orange;
  color : white;
  padding : 7px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.nameAndDeleteButton button:hover {
  background-color: rgb(255, 165, 0, 0.8);
  transform: translateY(5px);
  box-shadow: none;
}

.nameAndDeleteButton h3 {
  flex: 90%;
}
